Clover_Install_Log.txt
/APPLE
/CLOVER/config_*.plist
/CLOVER/ACPI/origin/DumpLog.txt
/CLOVER/ACPI/patched-off
/CLOVER/doc
/CLOVER/drivers/BIOS
/CLOVER/drivers/off
/CLOVER/kexts/Off
/CLOVER/OEM
**/._*.*
**/._*
**/.empty