OC/Tools/off
EFI-Clover/APPLE
EFI-Clover/CLOVER/config_*.plist
EFI-Clover/CLOVER/ACPI/origin/DumpLog.txt
EFI-Clover/CLOVER/ACPI/patched-off
EFI-Clover/CLOVER/doc
EFI-Clover/CLOVER/drivers/BIOS
EFI-Clover/CLOVER/drivers/off
EFI-Clover/CLOVER/kexts/Off
EFI-Clover/CLOVER/OEM
**/._*.*
**/._*
**/.empty